{% extends "base.html" %}

<title>{% block title %} UoN Alumni Association | Our Alumni, Our Strength {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}

            {% include "snippets/banner.html" %}

            <section id="front_page" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                <section class="p-4">
                    <div class="mx-auto md:px-12 lg:px-18 max-w-7xl">
                        <h1 class="text-4xl font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                            Welcome to Your UoN Alumni Community
                        </h1>
                        <p class="mt-4 text-lg font-light text-black text-balance">
                            Join a growing network of over 290,000 University of Nairobi graduates shaping the future of Kenya, Africa, and the world. The UoN Alumni Association brings together past students through lifelong connections, professional growth, and a shared pride in Kenya's leading university.
                        </p>

                        <p class="mt-4 text-lg font-light text-black text-balance">
                            Stay connected through exclusive alumni benefits, access to UoN library and academic resources, inspiring events, class reunions, <br> and the latest news from across the alumni network. Your UoN Alumni Community is here to support and celebrate every chapter of your journey — wherever life takes you after leaving the University of Nairobi. 
                        </p>
                        <h1 class="mt-8 text-2xl font-semibold tracking-wide text-gray-900 lg:text-4xl text-balance text-center">
                            Take Advantage
                        </h1>
                        <p class="mt-3 text-lg font-light text-black text-balance">
                            Beyond your personal success, the UoN Alumni Association connects you to a community that is actively shaping Kenya's future <br> — through mentoring the next generation of students,  championing groundbreaking research across medicine, technology, agriculture, and public policy, and giving back in ways that strengthen both the university and the communities it serves. Your journey does not end at graduation; it evolves into a legacy.
                        </p>

                    </div>
                    <div class="mx-auto md:px-12 lg:px-32 max-w-8xl">
                        {% include "snippets/benefits.html" %}
                    </div>
                </section>                   
            </section>
            <section id="front_page_2" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                <section class="p-4">
                    <div class="mx-auto md:px-12 lg:px-18 max-w-7xl">
                        <h1 class="text-4xl font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                           OUr Latest News
                        </h1>
                        <p class="mt-4 text-lg font-light text-black text-balance">
                            Join a growing network of over 290,000 University of Nairobi graduates shaping the future of Kenya, Africa, and the world. The UoN Alumni Association brings together past students through lifelong connections, professional growth, and a shared pride in Kenya's leading university.
                        </p>
                    </div>
                    <div class="mx-auto md:px-12 lg:px-32 max-w-8xl">
                        {% include "snippets/benefits.html" %}
                    </div>
                </section>                   
            </section>



            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}