{% extends "base.html" %}

<title>{% block title %} UoNAA | Core {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
            {% include "snippets/banner.html" %}

            <section id="core" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                    <section lass="p-4">

                        <div class="mx-auto  mt-5 md:px-12 lg:px-18 max-w-7xl">
                            <h1 class="text-4xl text-center font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                                Foundations of UoNAA
                            </h1>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                The strategic plan sets UoNAA priorities for the next five years towards the vision. This strategic plan is purposefully built from the following tenets:
                            </p>
                        </div>

                        <div class="mx-auto mt-4 md:px-12 lg:px-18 max-w-7xl">
                            <h2 class="text-3xl font-semibold tracking-wide text-gray-900 lg:text-3xl text-balance">
                                Motto.
                            </h2>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                Our Alumni Our Strength!
                            </p>
                        </div>

                        <div class="mx-auto mt-4 md:px-12 lg:px-18 max-w-7xl">
                            <h2 class="text-3xl font-semibold tracking-wide text-gray-900 lg:text-3xl text-balance">
                                Vision.
                            </h2>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                To be an influential Alumni Association that is engaged and driven by a shared commitment to excellence and services.
                            </p>
                        </div>

                        <div class="mx-auto mt-4 md:px-12 lg:px-18 max-w-7xl">
                            <h2 class="text-3xl font-semibold tracking-wide text-gray-900 lg:text-3xl text-balance">
                                Mission.
                            </h2>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                To empower, connect, and engage the alumni of the University of Nairobi, fostering a culture of excellence, service and innovation. <br> We are committed to mobilizing resources, building strategic partnerships and networks, increasing memberships and strengthening student- alumni relations.
                            </p>
                        </div>
                    </section>
            </section>

            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}