{% extends "base.html" %}

<title>{% block title %} UoNAA | Chapters {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
            {% include "snippets/banner.html" %}
            
            <section id="chapters" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                <div class="max-w-7xl mx-auto min-h-screen">
                    <section class="p-4">
                        <div class="px-8 py-12 mx-auto md:px-12 lg:px-28 max-w-7xl">
                        <div>
                            <h1 class="text-4xl font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                            Chapters
                            </h1>
                            <p class="mt-4 text-base font-medium text-gray-500 text-balance">
                            Control and added security. With decentralization, users have more
                            control over their data and transactions, and the platform is less
                            susceptible to malicious attacks.
                            </p>
                        </div>
                        </div>
                    </section>

                    <section class="mx-auto max-w-6xl pb-24  p-4">
                    <div class="mx-auto">
                        <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">

                        {% for chapter in chapters %}
                            <div class="col-span-4">
                                {% include "snippets/chapter.html" %}
                            </div>
                        {% endfor %}

                        </div>
                    </div>
                    </section>
                </div>
            </section>

            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}