{% extends "base.html" %}

<title>{% block title %} UoNAA | UoN Alumni Gallery {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
             {% include "snippets/banner.html" %}

            <section id="gallery" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                    
            </section>

            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}