{% extends "base.html" %}

<title>{% block title %} UoNAA | Secretariat {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
             {% include "snippets/banner.html" %}

            <section id="secretariat" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                    <section class="px-8 mt-18 flex flex-col justify-between items-center">
                        <h1 class="text-4xl font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                            UoN Alumni Secretariat
                        </h1>
                        <div class="max-w-6xl mt-12 space-y-4">
                            <div class="grid grid-cols-4 gap-4 md:grid-cols-8 lg:grid-cols-12">
                                {% if secretariats %}
                                    {% for secretariat in secretariats %}

                                        {% if secretariat.position == "EXECUTIVE DIRECTOR" %}
                                            <div class="col-span-4 ">
                                                {% include "snippets/secretariat_profile.html" %}
                                            </div>
                                        {% endif %}

                                        {% if secretariat.position == "ASSISTANT ADMINISTRATOR" %}
                                            <div class="col-span-4 ">
                                                {% include "snippets/secretariat_profile.html" %}
                                            </div>
                                        {% endif %}

                                        {% if secretariat.position == "SENIOR ICT OFFICER" %}
                                            <div class="col-span-4 ">
                                                {% include "snippets/secretariat_profile.html" %}
                                            </div>
                                        {% endif %} 
                                    
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="grid grid-cols-4 gap-3 md:grid-cols-8 lg:grid-cols-12">
                                {% if secretariats %}
                                    {% for secretariat in secretariats %}
                                        {% if secretariat.position == "SECRETARY" %}
                                            <div class="col-span-4 ">
                                                {% include "snippets/secretariat_profile.html" %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div> 
                        </div>
                    </section>                    
            </section>

            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}