{% extends "base.html" %}

<title>{% block title %} UoNAA | Core {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
            {% include "snippets/banner.html" %}

            <section id="core" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                    <section class="p-4">

                        <div class="mx-auto  mt-5 md:px-12 lg:px-18 max-w-7xl">
                            <h1 class="text-4xl text-center font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                                Foundations of UoNAA
                            </h1>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                The strategic plan sets UoNAA priorities for the next five years towards the vision. This strategic plan is purposefully built from the following tenets:
                            </p>
                        </div>

                        <div class="mx-auto mt-4 md:px-12 lg:px-18 max-w-7xl">
                            <h2 class="text-3xl font-semibold tracking-wide text-gray-900 lg:text-3xl text-balance">
                                Motto.
                            </h2>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                Our Alumni Our Strength!
                            </p>
                        </div>

                        <div class="mx-auto mt-4 md:px-12 lg:px-18 max-w-7xl">
                            <h2 class="text-3xl font-semibold tracking-wide text-gray-900 lg:text-3xl text-balance">
                                Vision.
                            </h2>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                To be an influential Alumni Association that is engaged and driven by a shared commitment to excellence and services.
                            </p>
                        </div>

                        <div class="mx-auto mt-4 md:px-12 lg:px-18 max-w-7xl">
                            <h2 class="text-3xl font-semibold tracking-wide text-gray-900 lg:text-3xl text-balance">
                                Mission.
                            </h2>
                            <p class="mt-4 text-lg font-light text-black text-balance">
                                To empower, connect, and engage the alumni of the University of Nairobi, fostering a culture of excellence, service and innovation. <br> We are committed to mobilizing resources, building strategic partnerships and networks, increasing memberships and strengthening student- alumni relations.
                            </p>
                        </div>
                    </section>
                    
                    <section class="p-4">
                        <div class="mx-auto  mt-5  max-w-7xl">
                            <h1 class="text-4xl text-center font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                                Core Values
                            </h1>
                            <p class="mt-4 text-lg font-light text-black text-balance  ">
                                UoNAA has core values that reflect the principles and ideals that guide her as she works towards achieving her vision and mission as outlined in the strategic plan.  
                            </p>
                            <p class="mt-4 text-lg font-light text-black text-balance  ">
                                These include: Integrity, accountability, transparency, loyalty, professionalism, excellence, care, innovation, service, Legacy, and environmental stewardship.
                            </p>
                        </div>

                    </section>

                    <section class="p-4">
                        <section>
                            <div class="container px-6 m-auto mb-4">
                                <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
                                    <div class="col-span-4">
                                        <!-- 1. Integrity and Professionalism -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Integrity and Professionalism</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                Integrity is the foundation of our Association. We conduct ourselves with honesty, transparency, and ethical conduct in all interactions, ensuring the trust and credibility of the UONAA.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="col-span-4">
                                        <!-- 2. Collaboration -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Collaboration</h3>
                                            </a>
                                            <p class="mt-2 text-sm/relaxed text-gray-500">
                                                We recognize the power of collaboration. We build strong partnerships and networks with alumni, educational institutions, government agencies, and organizations to achieve our shared goals and advance the interests of our members.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="col-span-4 ">
                                        <!-- 3. Environmental Stewardship -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Environmental Stewardship</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                We are committed to responsible environmental management. We value sustainability and actively promote eco-friendly practices in all our activities, events, and operations, contributing to a greener and more sustainable future.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="container px-6 m-auto mb-4">
                                <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
                                    <div class="col-span-4">
                                        <!-- 4. Excellence -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Excellence</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                We are committed to upholding the highest standards of excellence in all our activities, programs, and services, reflecting the prestige of our alma mater, the University of Nairobi.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="col-span-4">
                                        <!-- 5. Inclusivity -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Inclusivity</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                We celebrate the rich diversity of our alumni community and are dedicated to fostering an inclusive environment where every alumnus, regardless of background or affiliation, feels valued and welcomed.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="col-span-4 ">
                                        <!-- 6. Innovation -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Innovation</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                We embrace innovation and creativity to adapt to evolving needs and challenges. We seek innovative solutions to enhance alumni engagement and contribute positively to society.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="container px-6 m-auto mb-4">
                                <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
                                    <div class="col-span-4">
                                        <!-- 7. Legacy -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0112 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Legacy</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                We honor the rich heritage and traditions of the University of Nairobi, preserving its legacy for future generations of alumni.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="col-span-4">
                                        <!-- 8. Lifelong Learning -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Lifelong Learning</h3>
                                            </a>
                                            <p class="mt-2  text-sm/relaxed text-gray-500">
                                                We promote continuous learning and personal development among our alumni. We provide opportunities for skill enhancement, knowledge sharing, and career advancement.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="col-span-4 ">
                                        <!-- 9. Respect -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Respect</h3>
                                            </a>
                                            <p class="mt-2 text-sm/relaxed text-gray-500">
                                                We treat all individuals with respect, dignity, and courtesy. We value diverse perspectives and encourage open dialogue within our alumni community.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="container px-6 m-auto mb-4">
                                <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
                                    <div class="col-span-4">
                                        <!-- 10. Service -->
                                        <article class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6">
                                            <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <h3 class="mt-0.5 text-lg font-medium text-gray-900">Service</h3>
                                            </a>
                                            <p class="mt-2 text-sm/relaxed text-gray-500">
                                                Our alumni are dedicated to giving back to our university and the broader community. We are committed to volunteerism, community service, and supporting initiatives that create a positive impact.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
            </section>

            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}