
<article class=" overflow-hidden rounded-lg shadow transition hover:shadow-lg">
      {% if featured_article.thumbnail %}
        <img src="{{featured_article.get_thumbnail}}" alt="{{featured_article.title}}" id="MainImg" class="object-top h-full w-full"/>
      {% else %}
        <img class="object-center h-full w-full" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?auto=format&amp;fit=crop&amp;q=80&amp;w=1160" alt="{{highlighted_article.title}}" />
      {% endif %}
      <div class="bg-white p-4 sm:p-6">
        <time datetime="2022-10-10" class="font-medium text-base text-gray-800 title-font leading-none">
           {{featured_article.created_at}} 
        </time>
    
        <a href="#">
          <h2 class="mt-0.5 text-lg font-bold text-black "> {{featured_article.title}}</h2>
        </a>
    
        <p class="mt-2  text-sm/relaxed text-black">
          {{featured_article.body|truncatewords:15}}
          <br>
          <a href="" class="text-xs text-blue-700">Read more</a>
        </p>
      </div>
</article> 


{% comment %} <article class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg">
  <img alt="" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?auto=format&amp;fit=crop&amp;q=80&amp;w=1160" class="h-56 w-full object-cover">

  <div class="bg-white p-4 sm:p-6">
    <time datetime="2022-10-10" class="font-medium text-base text-gray-800 title-font leading-none">  {{featured_article.created_at}}  </time>

    <a href="#">
      <h3 class="mt-0.5 text-lg text-gray-900">
         {{featured_article.title}}
      </h3>
    </a>

    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
        {{featured_article.body|truncatewords:15}}
    </p>
  </div>
</article>
   {% endcomment %}
