<div class="group relative block bg-black hover:cursor-pointer">
    <img alt=""
        src="{{secretariat.get_avatar}}"
        class="absolute inset-0 h-full w-full object-cover opacity-65 transition-opacity group-hover:opacity-50"/>

    <div class="relative p-4 sm:p-3 lg:p-5">
        <p class="text-lg font-semibold uppercase tracking-widest text-white">{{secretariat.position}}</p>

        <p class="text-xs uppercase font-medium text-white sm:text-xs">{{secretariat.title}} {{secretariat.surname}} {{secretariat.first_name}}</p>

        <div class="mt-32 sm:mt-48 lg:mt-64">
        <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
            <p class="text-sm text-white">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores
            quibusdam quidem voluptates doloremque reiciendis nostrum harum. Repudiandae?
            </p>
        </div>
        </div>
    </div>
</div>